{% extends "header.html"%}
{% block maincode %}
<!DOCTYPE html>
<html>

<head>
  <style>
    .btn {
      background-color: #4CAF50;
      /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

</head>

<body>
  <table class="table">
    <br><br>
    <h2>Create Task Here</h2>
    </thead>
    <form action="create" method='POST'>
      {% csrf_token %}

      <h5>Task </h5><input type="text" name="task_name"><br><br>
      <h5>Status</h5>
      <select name="status">
        <option value="complete">Complete</option>
        <option value="incomplete">InComplete</option>
      </select><br><br>
      <input type="submit">
    </form>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
      integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
      crossorigin="anonymous"></script>
</body>
{% endblock %}