{% extends "header.html"%}
{% block maincode %}
<!DOCTYPE html>

<html>

<head>
  <style>
    .btn {
      background-color: #4CAF50;
      /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Task</th>
        <th scope="col">Status</th>
        <th scope="col">Delete</th>

        <h1>Task List</h1>
        <hr>
      </tr>

      {% for x in page %}
      <tr>
        <td>{{x.id}}</td>
        <td><a href='/task/{{x.id}}'>{{x.task_name}}</a></td>
        {% if x.status == 1 %}
        <td>Complete</td>
        {% elif x.status == 0 %}
        <td>InComplete</td>
        {% endif %}
        <td>
          {% if perms.info.view_tasks %}
          <a href="delete/{{ x.id }}"><button>Delete</button></a>
          {% else %}
          <p>Only Manager Can Delete</p>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
  </table>
  <br>
  <button><a class="btn" href="create">Create Task</a></button>

  <div class="container">
    <div class="row my-5">
      <div class="col-md-4 offset-md-3">
        <p> Page: {{page.number}} / {{page.paginator.num_pages}}</p>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item ">
              {% if page.has_previous %}
              <a class="page-link" href="{% url 'gettask' %}?page={{ page.previous_page_number }}"
                tabindex="-1">Previous</a>
              {% else %}
              <a class="page-link" tabindex="-1">Previous</a>
              {% endif %}
            </li>
            <li class="page-item "><a class="page-link" href="#">1</a></li>
            <li class="page-item "><a class="page-link" href="#">2</a></li>
            <li class="page-item "><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              {% if page.has_next %}
              <a class="page-link" href="{% url 'gettask' %}?page={{ page.next_page_number }}">Next</a>

              {% else %}
              <a class="page-link" tabindex="-1">Next</a>
              {% endif %}
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
    ntegrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
</head>
{% endblock %}