{% extends "header.html"%}
{% block maincode %}
<!DOCTYPE html>
<html>

<head>
  <style>
    .btn {
      background-color: #4CAF50;
      /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
  </style>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

</body>

<br><br>
<hr>
<h4>Update Task Here</h4><br>
<form action="{% url 'update' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="id" value={{task.id}}>
  <input type="text" value={{ task.task_name }} name="task_name"><br><br>
  <select name="status"><br><br>
    <option value="complete">Complete</option>
    <option value="incomplete">InComplete</option>
  </select>
  <br><br>
  <input type="submit" value="update">
  <br>
  <hr>
</form>
<h2>Subtask List</h2>
<table>
  {% for i in subtask %}
  <tr>
    <td>{{i.subtask_name}}</td>
  </tr>
</table>
{% endfor %}
</form>
<h4>Create SubTask Here</h4>
<form action="/task/{{task.id}}" method='POST'>
  {% csrf_token %}
  <h5>Subtask Name</h5>
  <input type="text" name="subtask_name"><br><br>
  <input type="submit">
</form>
</body>
{% endblock %}