<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>


<form action="" method='POST'>
{% csrf_token %}
    <p>Student</p>
    <input type="text" name="stu_name"><br><br>
    <input type="text" name="stu_division"><br><br>
    <input type="text" name="stu_stream"><br><br>

    <br><br>
    <input type="submit">

</form>
</body>
</html>
