<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<!DOCTYPE html>
<html>
<body>

<form action="" method='POST'>
{% csrf_token %}
    <p>Create Task</p>
    <input type="text" name="task_name"><br><br>
    <input type="text" name="task_date"><br><br>
    <input type="submit">
    {% if perms.info.view_tasks %}
    <button><a href="list">View Task</a></button>
    {% else %}
    <p>Permission Denied for View</p>
    {% endif %}


</form>

</body>
</html>
