<!DOCTYPE html>
<html>
<body>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<nav>
<span class="hello-msg">Hello, {{request.user}}</span>
<span class="hello-msg"><a href="{% url 'logout' %}">Logout</a></span>
</nav>
<br><br>
<hr>
<h2>Student Info</h2>
{% comment %} <p></p> {% endcomment %}
<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Division</th>
    <th>Stream</th>
    <th>Delete</th>
  </tr>
  {% for x in data %}
  <tr>
    <td><a href="update/{{ x.id }}">{{ x.id }}</a></td>
    <td>{{x.stu_name}}</td>
    <td>{{x.stu_division}}</td>
    <td>{{x.stu_stream}}</td>
    <td>{% if perms.info.delete_studentdata %}
    <a href="delete/{{ x.id }}"><button>Delete</button></a>    
    {% else %}
      <h5>You Cannot Delete</h5>
  </tr>
  {% endif %}
  {% endfor %}
</table>
<p>    {% if perms.info.add_studentdata %}
<a href="add/"><button>add student</button></a>
{% else %}
      <h5>You Cannot Add</h5>
 {% endif %}
</p>
<br>
<button><a href="task">Add Task</a></button>

</body>
</html>
