<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<style>
  .hello-msg{
    font-size:20px;
    margin-right: 20px;
    float:right;
    padding: 12px 12px;
  }
</style>

<nav>
<span class="hello-msg">Hello, {{request.user}}</span>
<span class="hello-msg"><a href="{% url 'logout' %}">Logout</a></span>
</nav>
<br><br>
<hr>
<table class="table">
<thead>
 <tr>
 <th scope="col">id</th>
 <th scope="col">first_name</th>
 <th scope="col">last_name</th>
 <th scope="col">age</th>
 <th scope="col">address</th>

</tr>
</thead>
{% for x in page %}
<tr>
  <td>{{x.id}}</td>
  <td>{{x.first_name}}</td>
  <td>{{x.last_name}}</td>
  <td>{{x.age}}</td>
  <td>{{x.address}}</td>
</tr>
{% endfor %}
</table>
<div class="container">
 <div class="row my-5">
    <div class="col-md-4 offset-md-3">
    <p> Page: {{page.number}}/{{page.paginator.num_pages}}</p>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item ">
    {% if page.has_previous %}
      <a class="page-link" href="{% url 'home' %}?page={{ page.previous_page_number }}" tabindex="-1">Previous</a>
    {% else %}
      <a class="page-link" tabindex="-1">Previous</a>
    
    {% endif %}


    </li>
    <li class="page-item "><a class="page-link" href="#">1</a></li>
    <li class="page-item "><a class="page-link" href="#">2</a></li>
    <li class="page-item "><a class="page-link" href="#">3</a></li>
    <li class="page-item">
    {% if page.has_next %}
      <a class="page-link" href="{% url 'home' %}?page={{ page.next_page_number }}">Next</a>

       {% else %}
      <a class="page-link" tabindex="-1">Next</a>
    {% endif %}   
    </li>
  </ul>
</nav>

    </div>
 </div>
</div>



 <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>


