<title>Home Page</title>
<h1>Welcome to Home Page</h1>
<h3>See the caching here</h3>
<table>
<thead>
<tr>
<th>Name</th>
<th>Age</th>
<th>Company</th>
<th>Location</th>
</tr>
</thead>
<tr>
<td>{{name}}</td>
<td>{{age}}</td>
<td>{{company}}</td>
<td>{{location}}</td>
</tr>
</table>
<br>
<hr>
<p>Python can be used on a server to create web applications.
Python can be used alongside software to create workflows.
Python can connect to database systems. It can also read and modify files.
Python can be used to handle big data and perform complex mathematics.
Python can be used for rapid prototyping, or for production-ready software development.
The most recent major version of Python is Python 3, which we shall be using in this tutorial. However, Python 2, 
although not being updated with anything other than security updates, is still quite popular.
 on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.
</p>