<!DOCTYPE html>
<html>
<body>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<nav>
<span class="hello-msg">Hello, {{request.user}}</span>
<span class="hello-msg"><a href="{% url 'logout' %}">Logout</a></span>
</nav>
<br><br>
<hr>
<h2>Student Info</h2>
{% comment %} <p></p> {% endcomment %}
<table>
  <tr>
    <th>Id</th>
    <th>Task</th>
    <th>User</th>
  </tr>
  {% for x in data %}
  <tr>
    <td><a href="update/{{ x.id }}">{{ x.id }}</a></td>
    <td>{{x.id}}</td>
    <td>{{x.task_name}}</td>
    <td>{{x.user}}</td>
    <td><button><a href="task">Add Task</a></button></
  </tr>
  {% endfor %}
</table>
<br>
<button><a href="task">Add Task</a></button>

</body>
</html>
