<h1>Update member</h1>
{% comment %} <form action="{% url 'update' %}" method="POST"> {% endcomment %}
<form action="updaterecord/{{ data.id }}" method="post">
{% csrf_token %}
{% comment %} <input type="hidden" name="id" value="{{data.id}}"> {% endcomment %}
Student Name:<br>
<input name="name" value="{{ data.stu_name }}">
<br><br>
Student Division:<br>
<input name="division" value="{{ data.stu_division }}">
<br><br>
Student Stream:<br>
<input name="stream" value="{{ data.stu_stream}}">
<br><br>
<input type="submit" value="Submit">
</form>