<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<!DOCTYPE html>
<html>
<body>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<nav>
<span class="hello-msg">Hello, {{request.user}}</span>
<span class="hello-msg"><a href="{% url 'logout' %}">Logout</a></span>
</nav>
<br><br>
<hr>
<h2>Task List</h2>
<table>
  <tr>
    <th>Id</th>
    <th>Task Name</th>
    <th>Date</th>
  </tr>
  <table>
  {% for x in getlist %}
  <tr>
  <td>{{x.id}}</td>
  <td>{{x.task_name}}</td>
  <td>{{x.task_date}}</td>
  </tr>
  {% endfor %}
</table>
<br>
<button><a href="/">Back to Home</a></button>
</body>
</html>
