<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>


<form action="create" method='POST'>
{% csrf_token %}
    <p>Task Name</p>
    <input type="text" name="task_name"><br><br>
    <select name="status">
    <option value="complete">Complete</option>
    <option value="incomplete">InComplete</option>
    </select><br><br>
    <input type="submit">

</form>
</body>
</html>
