 <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>

<br><br>
<hr>

<h1>Welcome to task manager</h1>
  <table>
  {% for x in task %}
  <tr>
  <td><a href='/task/{{x.id}}'>{{x.task_name}}</a></td>
  </tr>
  {% endfor %}
  </table>


  <button><a href="create">Add Task</a></button>
  </body>
</html>