 <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>

<br><br>
<hr>

<h1>Welcome to task manager</h1>
  <table>
  {% for x in owner %}
  <tr>
  <td><a href='/tasks/{{x.id}}'>{{x.owner_id}}</a></td>
  </tr>
  {% endfor %}
  </table>
  </body>
</html>