{% load cache %}
<h1>Detail Page</h1>
<table>
<thead>
<tr>
<th>skills<th>
</thead>
</tr>
{% cache 60 sk %}
<tr>
<td>{{sk1}}</td></tr>
{% endcache sk %}
<tr>
<td>{{sk2}}</td></tr>
<tr>
<td>{{sk3}}</td></tr>
</tr>
</table>