 
<title>Customer</title>
<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid   black;
}
</style>
<body>

<h2>Customer List</h2>

<table style="width:100%">
  <tr>
 <th scope="col">ID</th>
 <th scope="col">Name</th>
 <th scope="col">Email</th> 
</tr>
<tr>
  {% for x in customer %}
  <tr>
  <td>{{x.id}}</td>
  <td>{{x.name}}</td>
  <td>{{x.email}}</td>
  </tr>
  {% endfor %}
  </tr>

</table>

</body>
</html>

