<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>


<form action="create" method='POST'>
{% csrf_token %}
    <p>Sub Task Name</p>
    <input type="text" name="subtask_name"><br><br>
    <br><br>
    <input type="submit">

</form>
</body>
</html>