<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Session</title>
</head>

<body>
    <p>{{data}}</p>
    <!-- for getting keys  -->
    <!-- {% for key in request.session.keys %} -->
    <!-- {{key}} -->
    <!-- {% endfor %} -->
    <!-- {% for key in keys %}
    {{key}}
    {% endfor %}<br>-->

    <!-- {% for item in items %}
    {{item}}
    {% endfor %} -->

    <!--{% for key,value in items %}
    {{key}} {{value}}
    {% endfor %}
    {{age}} -->

    {{request.session.get_session_cookie_age}}<br>
    {{request.session.get_expiry_date}}<br>
    {{request.session.get_expiry_at_browser_close}}
</body>

</html>